body {
  margin: auto;
  background-color: #a3b7ff;
  font-family: "Times New Roman", serif;
  color: #	#09175c;
  padding: 0;
}

.header {
  text-align: center;
  font-weight: bolder;
  font-size: 36px;
  overflow: hidden;
  background-color: #5189ff;
  padding: 20px 10px;
}

h2 {
  text-decoration: underline;
  text-align: center;
}

p {
  text-align: center;
  word-wrap: break-word;
  position: relative;
  left: 15%;
  max-width: 70%;
}

#map {
  top: 0;
  bottom: 0;
  width: 80%;
  height: 500px;
}

#map2 {
  top: 0;
  bottom: 0;
  width: 80%;
  height: 500px;
}

#menu {
    padding: 0px 0px 0px 10%;
    font-family: 'Open Sans', sans-serif;
}

hr.dashed {
  border-top: 3px dashed #bbb;
}
